<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'gallery', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= yield :javascript_includes %>

</body>
</html>
